flows.json
[
    {
        "id": "fccea14870245bf0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c68327957425db9",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "230d40ae5ef31adc",
        "type": "ui_tab",
        "name": "MediBox_210531P",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2ac79790ea3acc4a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7b1156f338369cc9",
        "type": "ui_group",
        "name": "Light Intensity Change",
        "tab": "230d40ae5ef31adc",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a301cb73e76dad92",
        "type": "ui_group",
        "name": "Servo Motor Controller",
        "tab": "230d40ae5ef31adc",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c9f7185f2adb0da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c1798470d01108c",
        "type": "ui_group",
        "name": "MediBox",
        "tab": "230d40ae5ef31adc",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ec7d25b15a350a7",
        "type": "ui_group",
        "name": "Select Medicine Type",
        "tab": "230d40ae5ef31adc",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b37f7e19af7e4690",
        "type": "ui_group",
        "name": "Schedule Alarm",
        "tab": "230d40ae5ef31adc",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a853b1c0f830b1a",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 1",
        "func": "\nreturn {\n    payload:\"Select Motor Controller Settings\"\n    }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 560,
        "wires": [
            [
                "bbcf1b76124c0e03"
            ]
        ]
    },
    {
        "id": "25e05694fd8931ad",
        "type": "ui_chart",
        "z": "fccea14870245bf0",
        "name": "",
        "group": "7b1156f338369cc9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Light Intensity History Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "18672d1789e8c999",
        "type": "ui_gauge",
        "z": "fccea14870245bf0",
        "name": "",
        "group": "7b1156f338369cc9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity Gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "15",
        "diff": false,
        "className": "",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "e3fe4211b94da798",
        "type": "ui_text",
        "z": "fccea14870245bf0",
        "group": "7b1156f338369cc9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Maximum Intensity Side",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "3df2d4ff0834e53f",
        "type": "ui_slider",
        "z": "fccea14870245bf0",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "a301cb73e76dad92",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 1710,
        "y": 440,
        "wires": [
            [
                "73f960b332bfcd46",
                "79b6a248b74e7652"
            ]
        ]
    },
    {
        "id": "241a8849d1ee81c8",
        "type": "ui_slider",
        "z": "fccea14870245bf0",
        "name": "",
        "label": "The Minimum Angle",
        "tooltip": "",
        "group": "a301cb73e76dad92",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 1720,
        "y": 500,
        "wires": [
            [
                "8228a94be4e8d456",
                "eee2cc93865f1d69"
            ]
        ]
    },
    {
        "id": "18800e1d5e8b8ad9",
        "type": "ui_dropdown",
        "z": "fccea14870245bf0",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "7ec7d25b15a350a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Type A",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Type B",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Type C",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Custom Medicine",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1340,
        "y": 360,
        "wires": [
            [
                "232416dbd263e14f"
            ]
        ]
    },
    {
        "id": "c34baa70ad1a28b0",
        "type": "range",
        "z": "fccea14870245bf0",
        "minin": "32",
        "maxin": "4063",
        "minout": "0",
        "maxout": "1",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Intensity Reading",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "658c179951a42f1b"
            ]
        ]
    },
    {
        "id": "3d69f0f28e54fafa",
        "type": "mqtt in",
        "z": "fccea14870245bf0",
        "name": "",
        "topic": "EE-21_LDR_R",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c9f7185f2adb0da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c34baa70ad1a28b0"
            ]
        ]
    },
    {
        "id": "bf3a504dfc7c3430",
        "type": "mqtt in",
        "z": "fccea14870245bf0",
        "name": "",
        "topic": "EE-21_LDR_L",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c9f7185f2adb0da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "a662440b367d5da7"
            ]
        ]
    },
    {
        "id": "658c179951a42f1b",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 12",
        "func": "const value = parseFloat(msg.payload);\nconst invertedValue = 1 - value;\nconst roundedInvertedValue = invertedValue.toFixed(3);\n\nreturn {\n    payload: roundedInvertedValue\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 80,
        "wires": [
            [
                "ab1c6f670b26b164"
            ]
        ]
    },
    {
        "id": "ea225b2c5279b391",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 13",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a662440b367d5da7",
        "type": "range",
        "z": "fccea14870245bf0",
        "minin": "32",
        "maxin": "4063",
        "minout": "0",
        "maxout": "1",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Intensity Reading",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "1b62d56cd45bb3e1"
            ]
        ]
    },
    {
        "id": "1b62d56cd45bb3e1",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 14",
        "func": "const value = parseFloat(msg.payload);\nconst invertedValue = 1 - value;\nconst roundedInvertedValue = invertedValue.toFixed(3);\n\nreturn {\n    payload: roundedInvertedValue\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "4d34d9ba8257323e"
            ]
        ]
    },
    {
        "id": "4d34d9ba8257323e",
        "type": "change",
        "z": "fccea14870245bf0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LDR_L",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "42c439a7772a2bfd",
                "08ee4faf57fbfada"
            ]
        ]
    },
    {
        "id": "ab1c6f670b26b164",
        "type": "change",
        "z": "fccea14870245bf0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LDR_R",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 80,
        "wires": [
            [
                "42c439a7772a2bfd",
                "08ee4faf57fbfada"
            ]
        ]
    },
    {
        "id": "42c439a7772a2bfd",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 15",
        "func": "let LDR_L = global.get(\"LDR_L\");\nlet LDR_R = global.get(\"LDR_R\");\n\nlet maximum =Math.max(LDR_L,LDR_R)\nif (maximum == LDR_L){\n    let sides = \"Left\";\n}\nelse{\n    let sides = \"Right\";\n}\n\n\nreturn{\n    payload: maximum\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 80,
        "wires": [
            [
                "18672d1789e8c999",
                "25e05694fd8931ad"
            ]
        ]
    },
    {
        "id": "08ee4faf57fbfada",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 16",
        "func": "let LDR_L = global.get(\"LDR_L\");\nlet LDR_R = global.get(\"LDR_R\");\nlet sides\nlet maximum = Math.max(LDR_L, LDR_R)\nif (maximum == LDR_L) {\n     sides = \"Left\";\n}\nelse {\n    sides = \"Right\";\n}\n\n\nreturn {\n    payload: sides\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 140,
        "wires": [
            [
                "e3fe4211b94da798"
            ]
        ]
    },
    {
        "id": "232416dbd263e14f",
        "type": "switch",
        "z": "fccea14870245bf0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1470,
        "y": 360,
        "wires": [
            [
                "30ea8dcb3265c30f",
                "702d6a8a220623a9"
            ],
            [
                "8730c9110cb8dc70",
                "80e6c4688815cf4b"
            ],
            [
                "89829391d6037bbc",
                "f340fa0688228272"
            ],
            [
                "241a8849d1ee81c8",
                "3df2d4ff0834e53f",
                "8a853b1c0f830b1a"
            ]
        ]
    },
    {
        "id": "30ea8dcb3265c30f",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 17",
        "func": "\nreturn{\n    payload: 45\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 60,
        "wires": [
            [
                "8228a94be4e8d456",
                "19f438d7d18b2059"
            ]
        ]
    },
    {
        "id": "702d6a8a220623a9",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 18",
        "func": "\nreturn{\n    payload: 0.6\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 100,
        "wires": [
            [
                "73f960b332bfcd46",
                "8e8108b4d68f9928"
            ]
        ]
    },
    {
        "id": "8228a94be4e8d456",
        "type": "mqtt out",
        "z": "fccea14870245bf0",
        "name": "",
        "topic": "EE-21_Angle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9f7185f2adb0da",
        "x": 2090,
        "y": 60,
        "wires": []
    },
    {
        "id": "73f960b332bfcd46",
        "type": "mqtt out",
        "z": "fccea14870245bf0",
        "name": "EE-21_Control",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9f7185f2adb0da",
        "x": 2100,
        "y": 120,
        "wires": []
    },
    {
        "id": "8730c9110cb8dc70",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 19",
        "func": "\nreturn{\n    payload: 100\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 180,
        "wires": [
            [
                "8228a94be4e8d456",
                "19f438d7d18b2059"
            ]
        ]
    },
    {
        "id": "80e6c4688815cf4b",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 20",
        "func": "\nreturn{\n    payload: 0.2\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 220,
        "wires": [
            [
                "73f960b332bfcd46",
                "8e8108b4d68f9928"
            ]
        ]
    },
    {
        "id": "89829391d6037bbc",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 21",
        "func": "\nreturn{\n    payload: 65\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 300,
        "wires": [
            [
                "8228a94be4e8d456",
                "19f438d7d18b2059"
            ]
        ]
    },
    {
        "id": "f340fa0688228272",
        "type": "function",
        "z": "fccea14870245bf0",
        "name": "function 22",
        "func": "\nreturn{\n    payload: 0.8\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 340,
        "wires": [
            [
                "73f960b332bfcd46",
                "8e8108b4d68f9928"
            ]
        ]
    },
    {
        "id": "79b6a248b74e7652",
        "type": "ui_text",
        "z": "fccea14870245bf0",
        "group": "a301cb73e76dad92",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control Factor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2000,
        "y": 440,
        "wires": []
    },
    {
        "id": "eee2cc93865f1d69",
        "type": "ui_text",
        "z": "fccea14870245bf0",
        "group": "a301cb73e76dad92",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minimum Angle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2000,
        "y": 500,
        "wires": []
    },
    {
        "id": "bbcf1b76124c0e03",
        "type": "ui_toast",
        "z": "fccea14870245bf0",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1850,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "19f438d7d18b2059",
        "type": "ui_text",
        "z": "fccea14870245bf0",
        "group": "7ec7d25b15a350a7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minimal Angle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2080,
        "y": 220,
        "wires": []
    },
    {
        "id": "8e8108b4d68f9928",
        "type": "ui_text",
        "z": "fccea14870245bf0",
        "group": "7ec7d25b15a350a7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control Factor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2080,
        "y": 260,
        "wires": []
    },
    {
        "id": "adba2187e77827bf",
        "type": "mqtt in",
        "z": "1c68327957425db9",
        "name": "",
        "topic": "EE-21",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c9f7185f2adb0da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 100,
        "wires": [
            [
                "6c847583ecb6b240"
            ]
        ]
    },
    {
        "id": "6c847583ecb6b240",
        "type": "ui_gauge",
        "z": "1c68327957425db9",
        "name": "",
        "group": "7c1798470d01108c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "be99ca889bb1f542",
        "type": "mqtt out",
        "z": "1c68327957425db9",
        "name": "",
        "topic": "EE-21_Manager",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9f7185f2adb0da",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "609366fdae280894",
        "type": "ui_switch",
        "z": "1c68327957425db9",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7c1798470d01108c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "be99ca889bb1f542"
            ]
        ]
    },
    {
        "id": "1fb9ea0a6109b49f",
        "type": "ui_date_picker",
        "z": "1c68327957425db9",
        "name": "",
        "label": "Set_Date",
        "group": "b37f7e19af7e4690",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "d20c2304f2e5d072"
            ]
        ]
    },
    {
        "id": "f03e55621e8de815",
        "type": "ui_text_input",
        "z": "1c68327957425db9",
        "name": "",
        "label": "Set Time",
        "tooltip": "",
        "group": "b37f7e19af7e4690",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "0f5b4b9f4ebdf882"
            ]
        ]
    },
    {
        "id": "091421a047f442aa",
        "type": "ui_switch",
        "z": "1c68327957425db9",
        "name": "",
        "label": "Alarm ON/OFF",
        "tooltip": "",
        "group": "b37f7e19af7e4690",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "e257f7f9e386d3c3"
            ]
        ]
    },
    {
        "id": "5cf75297fa5913f5",
        "type": "ui_text",
        "z": "1c68327957425db9",
        "group": "b37f7e19af7e4690",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm Details",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1210,
        "y": 560,
        "wires": []
    },
    {
        "id": "0f5b4b9f4ebdf882",
        "type": "change",
        "z": "1c68327957425db9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "e9f54d9d57ce5bb4"
            ]
        ]
    },
    {
        "id": "d20c2304f2e5d072",
        "type": "change",
        "z": "1c68327957425db9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "e9f54d9d57ce5bb4"
            ]
        ]
    },
    {
        "id": "e9f54d9d57ce5bb4",
        "type": "function",
        "z": "1c68327957425db9",
        "name": "function 5",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduledDate = global.get(\"scheduledDate\");\nlet scheduledTime = global.get(\"scheduledTime\");\n\nif(isScheduled && scheduledDate && scheduledTime){\n    let schedule = scheduledDate + scheduledTime;\n    if(Date.now()>schedule){\n        return{\n            payload:\"Older Date\"\n        }\n    }\n    else {\n        return{\n            payload:Math.round(schedule/1000)\n        }\n    }    \n}\nelse if (isScheduled == false){\n    return{\n        payload:\"Alarm OFF\"\n    }\n}\nelse{\n    return{\n        payload: null\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 360,
        "wires": [
            [
                "f21fc3b12e374e1a"
            ]
        ]
    },
    {
        "id": "f21fc3b12e374e1a",
        "type": "switch",
        "z": "1c68327957425db9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Older Date",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Alarm OFF",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 810,
        "y": 360,
        "wires": [
            [
                "0f55e84115938c2f"
            ],
            [
                "135d624b1487cebc",
                "87d84b22721c9325"
            ],
            [
                "87d84b22721c9325",
                "1502734b9e5296e2"
            ],
            [
                "d82fc575d4562122"
            ]
        ]
    },
    {
        "id": "e257f7f9e386d3c3",
        "type": "change",
        "z": "1c68327957425db9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "e9f54d9d57ce5bb4"
            ]
        ]
    },
    {
        "id": "98c123c1b3b7e44e",
        "type": "ui_toast",
        "z": "1c68327957425db9",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1250,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0f55e84115938c2f",
        "type": "function",
        "z": "1c68327957425db9",
        "name": "function 6",
        "func": "\nreturn{\n    payload:\"Enter a Future Date and Time\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 280,
        "wires": [
            [
                "98c123c1b3b7e44e",
                "5cf75297fa5913f5"
            ]
        ]
    },
    {
        "id": "135d624b1487cebc",
        "type": "function",
        "z": "1c68327957425db9",
        "name": "function 7",
        "func": "\nreturn{\n    payload: \"Alarm OFF\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "5cf75297fa5913f5"
            ]
        ]
    },
    {
        "id": "d82fc575d4562122",
        "type": "function",
        "z": "1c68327957425db9",
        "name": "function 8",
        "func": "\nreturn{\n    payload: \"Enter Alarm Details\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 360,
        "wires": [
            [
                "5cf75297fa5913f5"
            ]
        ]
    },
    {
        "id": "87d84b22721c9325",
        "type": "mqtt out",
        "z": "1c68327957425db9",
        "name": "",
        "topic": "EE-21_Alarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9f7185f2adb0da",
        "x": 1250,
        "y": 420,
        "wires": []
    },
    {
        "id": "1502734b9e5296e2",
        "type": "function",
        "z": "1c68327957425db9",
        "name": "function 9",
        "func": "// Unix timestamp in seconds\nconst unixTimestamp = msg.payload;\nconst date = new Date((unixTimestamp - (5 * 3600 + 30 * 60)) * 1000);\n\n// Extract various components of the date and time\nconst year = date.getFullYear();\nconst month = date.getMonth() + 1; // Month starts from 0, so add 1\nconst day = date.getDate();\nconst hours = date.getHours();\nconst minutes = date.getMinutes();\nconst seconds = date.getSeconds();\n\n// Construct a human-readable string representing the date and time\nconst formattedDateTime = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')} ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;\n\nreturn{\n    payload: formattedDateTime\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 500,
        "wires": [
            [
                "5cf75297fa5913f5"
            ]
        ]
    },
    {
        "id": "f9eee43857988398",
        "type": "mqtt in",
        "z": "1c68327957425db9",
        "name": "",
        "topic": "EE-21_SwitchON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c9f7185f2adb0da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 100,
        "wires": [
            [
                "b0b6cbca3468998b"
            ]
        ]
    },
    {
        "id": "6ddf0bbb26458fd2",
        "type": "mqtt in",
        "z": "1c68327957425db9",
        "name": "",
        "topic": "EE-21_AlarmON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c9f7185f2adb0da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "c1f5425a7c8da68b"
            ]
        ]
    },
    {
        "id": "c1f5425a7c8da68b",
        "type": "function",
        "z": "1c68327957425db9",
        "name": "function 10",
        "func": "\nreturn {\n    payload : msg.payload === 1\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "091421a047f442aa"
            ]
        ]
    },
    {
        "id": "b0b6cbca3468998b",
        "type": "function",
        "z": "1c68327957425db9",
        "name": "function 11",
        "func": "if(msg.payload === 1){\n    return{\n        payload:\"1\"\n    }\n}\nelse{\n    return{\n        payload:\"0\"\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 100,
        "wires": [
            [
                "609366fdae280894"
            ]
        ]
    }
]